body
{
    background-color: aliceblue;
}
p{
    color: darkblue;
}
h2,a{
    color: crimson;
}
.cimkep{
    margin: auto;
    display: flex;
    align-items: center;
}
#kep{
    margin: auto;
    align-items: center;
    align-self: center;
}

hr {
    display: block;
    height: 1px;
    max-width: 70%;
    border-top: 1px solid black;
    margin: auto;
    margin-top: 10px;
    align-items: center;
}


.bekezdes{
    align-content: center;
    align-items: center;
    margin: auto;
    display: flex;
}
.tablazat{
    align-items: center;
    align-content: center;
    margin: auto;
}
#sor{
    margin: auto;
    width: 400px;
}
#szarka_alkata{
    border: 1px solid black;
    width: 230px;
    height: 153px;
}

.bekezdes_ketto{
    overflow: hidden;
}

.bal{
max-width: 80%;
float:left;
}

.jobb{
    float: right;
}

#eletmod_kep{
    border: 1px solid black;
    width: 230px;
    height: 153px;
    float: right;
}

